
*{
    margin: 0px;
    padding: 0px;
}
.main{
    background-image: url(assets/IN-en-20251124-TRIFECTA-perspective_9f00d07d-f08e-494f-8907-92371138c534_large.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    background-size:max(1200px,100vw);
    height: 100vh;
    position: relative;
}
.main .box{
    background-color: black;
    height: 100vh;
    width: 100%;
    opacity: 0.66;
    position: absolute;
    top: 0;
}
body{
    background-color: black;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 80px;
}
nav img{
    color:red;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    display: flex;
    height: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index:100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height:70px;
}
 
.hero span:nth-child(1){
    font-weight: 900;
    font-size: 56px;
}
.hero span:nth-child(2){
    font-weight: 900;
    font-size: 56px;
}
.hero span:nth-child(3){
    font-weight: 800;
    font-size: 20px;
}
.but{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: 500;
   
}
.line{
    height: 3px;
    background-color: gray;
    margin-bottom: 30px;
}
.btn{
    padding: 13px 34px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: none;
    border-radius:4px;
    font-weight: 600;
}
.btn :first-child{
    font-size: 18px;
}
.btn-red{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: red;
    /* font-weight: 600; */
    font-size:24px;
    border-radius: 6px;

}
.btn-red-sm{
    background-color: red;
    /* font-weight: 500; */
    font-size:16px ;
}
section{
    margin: auto;
    /* display: flex; */
    }
.first{
    color: white;
    padding: 30px;
    display: flex;
    gap: 10px;
    width: 80vw;
}
.first h3{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    padding: 5px;
    font-size:25px;
}
.first p{
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    font-size: 18px;
    
}

.more{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
}
.firstsec{
    margin-top: 60px;
    height: 250px;
    width:30vw;
    background-color:rgb(20, 8, 49);
    border-radius: 30px;
    padding: 15px;
    position: relative;
}
.firstimg{
 
    position:absolute;
    bottom: 0px;
    right: 0px;
    
}
.secondsec{
    margin-top: 60px;
    height:250px;
    width:30vw;
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(20, 8, 49);
    border-radius: 30px;
    padding: 20px;
    position: relative;
}
.secondimg{
 
    position:absolute;
    bottom: 0px;
    right: 0px;
}

.thirdsec{
    margin-top: 60px;
    height:250px;
    width:30vw;
    background-color:rgb(20, 8, 49);
    border-radius: 30px;
    padding: 20px;
    position: relative;
}
 .thirdimg{
    position:absolute;
    bottom: 0px;
    right: 0px;
    
}
.fourthsec{
    margin-top: 60px;
    height:250px;
    width:30vw;
    background-color:rgb(20, 8, 49);
    border-radius: 30px;
    padding: 20px;
    position: relative;
}
.fourthimg{
    position:absolute;
    bottom: 0px;
    right: 0px;
    
}
.faq h2{
    
    font-size: 24px;
}
.faq{
    background:black;
    color: white;
    padding: 34px;
    font-size: 26px;
    width: 80vw;

    
}
.faqbox:hover{
    transition: all;
    background-color: rgb(84, 80, 80);
    color: white;
}
.faqbox svg{
    filter:invert(1);

}
 
.faqbox{
    transition: all 0.7s ease-out;
    display: flex;
    background-color: rgb(50, 48, 48);
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: aliceblue;
    /* max-width: 80vw; */
    margin: 10px auto;
    cursor: pointer;
}
.bottom{
    color:rgba(255, 255, 255, 0.7);
    /* max-width: 60vw; */
    margin-left:128px;
    padding: 14px;
    font-size: 18px;
    
   
}
.ques{
   
    margin-bottom: 30px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}
.items{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 18px;
    
}
.items a{
    color:rgba(255, 255, 255, 0.7);
}